
.material-icons { vertical-align: middle; }

#summarykbasehtml pre { padding: 1em; color: #353535; background: hsla(0,0%,78%,.3); border: 1px solid #c4c4c4; border-radius: 2px; text-align: left; direction: ltr; tab-size: 4; white-space: pre-wrap; font-style: normal; min-width: 200px; }

.anchormenuh2 { overflow: hidden; white-space: nowrap; padding: 0px 0px 0px 2px; cursor: pointer; }
.anchormenuh3 { overflow: hidden; white-space: nowrap; padding: 0px 0px 0px 12px; cursor: pointer; }
